input {
  border: none;
  padding: 18px;
  font-size: 14px;
  border-radius: 10px;
  width: 344px;
  outline: none;
}


.field-input-container {
  display: block;
  border: 1px solid #eeeeee;
  width: 344px;
  border-radius: 10px;
  padding: 0;
  margin-bottom: 30px;
}

.field-legend {
  margin-left: 30px;
  height: 14px;
  font-size: 12px;
}


.focused {
  border: 1px solid #0068e4;
  outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #a0a1a4;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #a0a1a4;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #a0a1a4;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #a0a1a4;
}