* {
    color: #454c5d;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

img {
    height: 78px;
}


.footer {
    display: flex;
    /* background-color: #FCFCFC; */
    background-color: #000000;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
}

.footer__container {
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    max-width: 1280px;
}

@media only screen and (max-width: 767px) {
  .footer__container {
    text-align: center;
    flex-direction: column;
    padding: 20px 15px 40px;
    font-size: 14px;
  }
  .logo {
    order: 1;
  }
  .contacts {
    order: 2;
    margin: 42px auto 40px;
  }
  .contacts p {
    margin-bottom: 5px;
  }
  .rights {
    order: 3;
  }
  .rights p {
    margin-top: 5px;
  }
}