* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
form {
  display: flex;
  padding: 80px 60px;
  margin: 0 auto;
}
.leftside {
  max-width: 750px;
  display: flex;
  flex-direction: column;
}

.header {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 80px;
}

.textarea {
  max-width: 660px;
  height: 200px;
  resize: none;
  border-color: #eeeeee;
  border-radius: 20px;
  padding: 20px;
  font-size: 16px;
  margin-bottom: 30px;
  margin-right: 15px;
}
.textarea:focus {
  border-color: #0068e4;
  outline: none;
}
select {
  border-color: #eeeeee;
  padding: 20px;
  font-size: 14px;
  border-radius: 10px;
  width: 344px;
  margin-bottom: 30px;
}
select:focus {
  border-color: #0068e4;
  outline: none;
}
.inputs {
  display: grid;
  grid-template-columns: 375px 375px;
}


/* MEDIA */

@media only screen and (max-width: 1110px) {
  .inputs {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  form {
    flex-direction: column;
  }
}
